
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <title>Iris Application</title>
</head>
<body>
    

    <!-- Your HTML content goes here -->
    <h1 class="container mt-4">Iris Django Application</h1>
    <hr>
    <!-- {% if result %}
        <h3 class="container mt-4">Flower you're trying to classify is {{result}}</h3>
    {% endif %} -->

    <form action="" method="POST" class="container mt-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6"> <!-- This column takes half the width of the container -->
                <div class="form-group">
                    <label for="sepal_length">Sepal Length:</label>
                    <input type="number" class="form-control" name="sepal_length" required>
                </div>
            </div>
            <div class="col-md-6"> <!-- This column takes the other half of the width of the container -->
                <div class="form-group">
                    <label for="sepal_width">Sepal Width:</label>
                    <input type="number" class="form-control" name="sepal_width" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="petal_length">Petal Length:</label>
                    <input type="number" class="form-control" name="petal_length" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="petal_width">Petal Width:</label>
                    <input type="number" class="form-control" name="petal_width" required>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

    <hr>
    {% if result %}
        <h3 class="container mt-4">Flower you're trying to classify is <i style="color: #FF5733;">{{result}}</i>
        </h3>
    {% endif %}
    
</body>
</html>
